.row{   
    background-color:brown;
    font-size:20px;
     color:white;
}
.headshot{
    width:20%;
   display:center;
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:20px;
    margin-top:5px;
    margin-bottom:5px;
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
}
.aboutme{
    width:100%;  
}
.footer {
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;
}
.contact{
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;
}    
.pic{
    width:100%;
}
.portfolio{
    font-family: 'Noto Serif', serif;
}
.aboutmecss{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    background-color: black;
    color:white;
}
.portfoliopic{
    width:200px;
    height:200px;
}
.contactpic{
    background-image: url("https://i.imgur.com/rcr1Q5M.gif");
    color:white;
}